@tailwind base;
@tailwind components;
@tailwind utilities;


*{margin: 0; padding: 0;}

.scroll-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .scroll-shadow.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


  /* Navbar.module.css */

.navbar {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: #F2F7F8;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color:white 
}

/* navbar end */


  .container {
    position: relative;
    overflow: hidden;
    /* background-color: #ddd;  */
    transition: background-color 0.5s;
  }
  
  /* .container:hover {
    color: #fff; 
  } */
  
  .image {
    width: 250; 
    height: 250; 
    display: block; 
  }
  
  .container .image {
    transform: scale(0.8); 
    opacity: 0; 
    transition: transform 0.5s, 
  }
  
  .container:hover .image {
    transform: scale(1); 
    opacity: 1;
  }
  